.pricing-card{
    text-align: center;

    ion-item{
        font-size: 14px;

    }
    .price-item{
        font-size: 10px;
        display: flex;
        flex-wrap: wrap;
        
        
    }
    ion-button{
        margin-top: 20px;
    }

}